@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;800&display=swap");

//color
$primary-color: hsl(47, 88%, 63%);
//neutral
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);
// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
//font size
$font-sm: 16px;
$font-md: 20px;
$font-lg: 24px;
//font fam
$font-family: "Figtree", sans-serif;
